$circle-width-hover: 0.08em;

.percentage-circle {
  &:hover {
		cursor: default;

		> span {
			width: 3.33em;
			line-height: 3.33em;
			font-size: 0.3em;
		}

    @include circleInteriorSize($circle-width-hover);
	}
}
