$circle-width: 0.12em;

.percentage-circle {

	*, *:before, *:after {
		box-sizing: content-box;
	}

	position: relative;
	font-size: 120px;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	float: left;

	&.center {
		float: none;
		margin: 0 auto;
	}

	// text inside circle
	> span {
		position: absolute;
		width: 100%;
		z-index: 1;
		left: 0;
		top: 0;
		width: 5em;
		line-height: 5em;
		font-size: 0.2em;
		display: block;
		text-align: center;
		white-space: nowrap;
    transition: all 0.2s ease-out;
	}

	// background inside the circle
	&:after {
		position: absolute;
		display: block;
		content: " ";
		border-radius: 50%;
		transition: all 0.2s ease-in;
	}

  @include circleInteriorSize($circle-width);

	// the slice (mask)
	.slice {
		position: absolute;
		width: 1em;
		height: 1em;
		clip: rect(0em, 1em, 1em, 0.5em);
	}

	// circle to show the status
	.above50, .below50 {
    position: absolute;
    border-style: solid;
  	clip: rect(0em, 0.5em, 1em, 0em);
  	border-radius: 50%;
  	transform: rotate(0deg);

    @include circleBarSize($circle-width);
	}

	@for $j from 51 through 100 {
		&.pct#{$j} .slice {
      clip: rect(auto, auto, auto, auto);
		}

    // as we're above 50, the below 50 part is always shown so set it to 180 deg
		&.pct#{$j} .below50 {
      transform: rotate(180deg);
		}
	}

	@for $j from 1 through 100 {
		&.pct#{$j} .above50 {
			transform: rotate((360/100*$j) + deg);
		}
	}
}
