.snippet {
  white-space: pre;
  padding: 10px 20px;
  background: #ccc;
  font-family: monospace;
  font-size: 14px;
  display: inline-block;
}

section {
    opacity: 0;
    transition: opacity 0.75s ease-out;
}

section.show {
    opacity: 1;
}

@media (max-width: 600px) {
  .snippet {
    word-wrap: break-word;
    width: 100%;
    display: inline-block;
    white-space: pre-wrap;
    box-sizing: border-box;
  }
}
