.snippet {
  white-space: pre;
  padding: 10px 20px;
  background: #ccc;
  font-family: monospace;
  font-size: 14px;
  display: inline-block;
}

section {
    display: none;
    opacity: 0;
}

section.show {
    display: block;
    transition: opacity 0.5s ease-out;
    opacity: 1;
}
